<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Hobbies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLPD7yO8t9w/F43Wq79r/JpG8jF02iV/dF26K6D5C76jA9g/9g99yT3DqgW193O6f/rLpG33V4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../resources/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="navbar bg-hobbies-color">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center text-white" data-bs-toggle="collapse" href="#navbarCollapse"
                role="button" aria-expanded="false" aria-controls="navbarCollapse">
                <img src="../resources/img/CUBuffLogo.png" alt="Logo" width="54" height="54" class="d-inline-block" />
                <span class="ms-2 h3">Learn More</span>
                <span class="ms-1 navbar-arrow">▼</span>
            </a>
        </div>
    </nav>
    <div class="collapse" id="navbarCollapse">
        <div class="bg-hobbies-color p-3">
            <ul class="list-unstyled">
                <li>
                    <a class="text-decoration-none fs-4" href="../index.html">Home</a>
                </li>
                <li>
                    <a class="text-decoration-none fs-4" href="projects.html">Projects</a>
                </li>
                <li>
                    <a class="text-decoration-none fs-4" href="resume.html">Resume</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">My Hobbies</h1>
                <div class="row text-center">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="../resources/img/skiing.jpg" class="card-img-top" alt="Skiing">
                            <div class="card-body">
                                <h5 class="card-title">Skiing</h5>
                                <p class="card-text">
                                    I've loved skiing since I was a kid and its one of my
                                    absolute favorite parts of living in Colorado. Getting the chance to ski
                                    with all of my new friends has been super fulfilling. Here's my
                                    beautiful girlfriend and I at Winter Park!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="../resources/img/volleyball.JPG" class="card-img-top" alt="Volleyball">
                            <div class="card-body">
                                <h5 class="card-title">Intramural Sports</h5>
                                <p class="card-text">
                                    I've always loved team sports, but being here in Boulder I've
                                    gotten the chance to play a bunch of intramurals like basketball, football,
                                    dodgeball,
                                    and volleyball. In fact, we won our volleyball championship game!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="../resources/img/cooking.jpg" class="card-img-top" alt="Cooking">
                            <div class="card-body">
                                <h5 class="card-title">Cooking</h5>
                                <p class="card-text">
                                    My dad is an amazing chef and always inspired me to cook myself.
                                    To me, cooking is a great artistic outlet and way to support my
                                    fitness and health goals too. I especially love being able to cook for friends and
                                    family.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hobbyCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="6"
                            aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="7"
                            aria-label="Slide 8"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="8"
                            aria-label="Slide 9"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="9"
                            aria-label="Slide 10"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="10"
                            aria-label="Slide 11"></button>
                        <button type="button" data-bs-target="#hobbyCarousel" data-bs-slide-to="11"
                            aria-label="Slide 12"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../resources/img/IMG_0190.JPG"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_0202.jpg"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_0960.JPG"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 4">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_1367.jpg"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 5">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_3417.JPG"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 6">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_4059.jpg"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 7">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_4150.JPG"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 8">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_4377.JPG"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 9">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_4772.JPG"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 10">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_5446.JPG"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 11">
                        </div>
                        <div class="carousel-item">
                            <img src="../resources/img/IMG_5621.jpg"
                                class="d-block w-100 object-fit-cover object-position-center" alt="Hobby Image 12">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#hobbyCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#hobbyCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid bg-dark text-white py-3 mt-5">
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/reed-shisler-5103b4329" target="_blank" class="text-white mx-2">
                <i class="bi bi-linkedin fs-4"></i>
            </a>
            <a href="https://github.com/reedshis" target="_blank" class="text-white mx-2">
                <i class="bi bi-github fs-4"></i>
            </a>
            <a href="https://www.instagram.com/reed.shisler" target="_blank" class="text-white mx-2">
                <i class="bi bi-instagram fs-4"></i>
            </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>